# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

out
dist
node_modules
.vscode-test/
*.vsix


src/e2e/cypress.env.json
src/e2e/cypress/videos/spec.cy.js.mp4

# dependencies
/src/client/node_modules
/src/server/node_modules
/src/e2e/node_modules
/src/client/.pnp
src/client/.pnp.js
src/client/build
src/client/build/*

# testing
src/client/coverage

# production
src/client/build
src/server/build
src/server/bin
src/server/service-account.json

# misc


src/client/.DS_Store
src/client/.env.local
src/client/.env.development.local
src/client/.env.test.local
src/client/.env.production.local
src/client/.env
src/server/.env
src/e2e/.env
src/e2e/videos
src/e2e/screenshots
src/server/gcp.json

src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*
.vscode/
*.env
src/server/lambda.zip
