textarea {
  resize: none;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container {
  width: 95%;
  height: 80%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #444444;
  display: flex;
  flex-direction: column;
}

.navMenu {
  display: flex;
  width: 100%;
  height: 20px;
  align-items: center;
  justify-items: start;
  gap: 4px;
}

.navMenu > div {
  cursor: pointer;
}

#title {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#conversation {
  flex: 1;
  max-height: 90%;
  width: 100%;
  overflow-y: auto;
  padding: 5px 30px;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  justify-items: center;
}

.user-message {
  background-color: #5b5b5b;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin: 5px, 0;
  max-width: 70%;
  align-self: flex-end;
  position: relative;
}

.ai-message {
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin: 5px, 0;
  max-width: 90%;
  position: relative;
}

.pre-code-container,
.post-code-container {
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  align-self: flex-start;
}

.code-container {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  margin: 10px 0;
  width: 80%;
}

.code-container pre {
  white-space: pre-wrap; /* Wraps code content */
  margin: 0;
  font-family: Consolas, "Courier New", monospace;
}

.message-options {
  height: 20px;
  width: 100%;
  background: inherit;
  border-radius: 8px;
  display: flex;
  gap: 2px;
  padding: 5px;
}

.clipboard-icon-container {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 8px 4px;
  background: inherit;
  border-radius: 4px;
}

.clipboard-icon-container:hover {
  background: #888;
}

.clipboard-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.clipboard-icon:hover {
  color: #ccc;
}

.clipboard-icon-messages {
  cursor: pointer;
  color: #fff;
  font-size: 12px;
}

#promptBar {
  width: 100%;
  height: 70px;
  max-height: 100px;
  /* overflow-y: auto; */
  position: relative;
}

#userQuery {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.appended-documents-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: inherit;

  width: 100%;
}

.appended-document {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.appended-document span {
  margin-right: 5px;
}

.appended-document .remove-icon {
  cursor: pointer;
  color: red;
}

#addFileButton,
#sendButton {
  /* padding: 3px 7px; */
  border: none;
  /* background-color: inherit; */
  border-radius: 50%;
  color: #00000027;
  background: #bebebe;
  position: absolute;
  bottom: 10%;
  right: 5px;
  /* transform: translateY(-10%); */
}

#addFileButton {
  /* padding: 3px 5px; */
  color: #000;
  right: 45px;
  cursor: pointer;
  background: none;
}

.icon-2xl {
  background: inherit;
  border-radius: 50%;
  transform: scale(1.1);
}

#loadingIndicator {
  display: none;
  margin-left: 10px;
  font-size: 16px;
  color: #888;
  padding-bottom: 5px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  min-width: fit-content;
  font-size: smaller;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 4px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
